body{
	text-rendering: optimizelegibility;

	background-color: #FFF;
	color: #222;

	font-family: 'Lato', 'Helvetica Neue', Helvetica;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}



/*
 *
 * SECTIONS
 *
 *
 */

.opaque{
	background-color: rgba(96, 196, 203, 0.6);
	min-height: 500px;
}


section, footer{
	padding-top: 5rem;
	padding-bottom: 5rem;
}

section div.jumbotron{
	margin: 0 auto;
}


.narrow{
	max-width: 900px;	
	margin: 0 auto;
}

.form-container{
	max-width: 300px;
}


section.splash{
	padding-top: 0;
	padding-bottom: 0;
	min-height: 500px;
	color: white;
	background-color: #60C4CB;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.splash .menu{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0;
}

.splash .menu button{
	margin-bottom: 6px;
}

section.mouth{
	padding-top: 0;
	padding-bottom: 0;
	min-height: 500px;
	color: white;
	background-color: #60C4CB;
	background-image: url(../img/mouth.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}



section.white{
	color: #222;
	background-color: white;
}

section.white h1{
	color: #13A5AF;
}


section.light{
	color: white;
	background-color: #93DEE3;
}


.light h1, 
.light h2, 
.light h3, 
.light h4, 
.light h5,
.light i,
.dark-text{
	color: #13A5AF;
} 

.light-text{
	color: white !important;
} 


section.medium{
	color: white;
	background-color: #60C4CB;
}


/*
 * COLLAPSE
 *
 *
 */
.panel,
.panel, .panel-default>.panel-heading,
.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.panel-body{
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding-left: 0;
}



/*
 *
 * GENERAL
 *
 *
 */

a{
	text-decoration: none !important;
}


form{
}

ul{
	padding-left: 0;
}

li{
	list-style: none;
}

.jumbotron{
	background-color: transparent;
}


.tile{
}

.tile h3{
	color: #13A5AF;
}

.tile .box{
	background-color: #DDD;	
	height: 150px;
	max-width: 300px;
}

.tile .caption{
	margin-top: 20px;
}


/*
 *
 *
 *	BUTTONS
 *
 *
 */

button{
	text-transform: uppercase;
	box-shadow: none !important;
	border: none;

}

.btn-yellow{
	color: white;
	background-color: #FEBF75;
}

.btn-white{
	color: #FEBF75;
	background-color: white;
}

.btn-red{
	color: white;
	background-color: #F57068;
}

.btn-round-left{
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


.btn-round{
	border-radius: 24px;
}



/*
 *
 *
 */
input, textarea, select{
	box-shadow: none !important;
	border: none !important;	
}


/*
 *
 *
 *	NAVIGATION
 *
 *
 */

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover{
	border: none;
	background-color: #FFF;
}

.navbar{
	background-color: #FFF;
	border: none;
	margin-top: 20px;
}

@media(min-width:768px){
	.navbar{
		margin-right: 100px;	
	}
}

.navbar .navbar-nav>li>a{
	color: #13A5AF;
}



/*
 *
 *
 *	FOOTER
 *
 *
 */

footer{
	color: white;
	background-color: #24A1AC;
}

footer a{
	color: white;
}