<section class="light container-fluid">
	<div class="narrow">
		<h1>Akut tandvård i Göteborg - ring 031 13 83 04</h1>

		<div class="row">
			<div class="col-md-6">
				<h3>Har oturen varit framme eller har en tandvärk kommit plötsligt? Då är det dags att boka en akuttid hos oss.</h3>
			</br>
		
			
				<div akut-form></div>

				<p>Vi försöker alltid att finnas tillgängliga för akuttider, för att så snabbt som möjligt kunna åtgärda orsaken till ditt problem. </p>

				<p>På akuttider diagnostiserar vi och hittar orsaken till din tandvärk eller ditt problem. Finns tid och möjlighet så gör vi en permanent lösning, men ibland är man tvungen att komma på fler besök för att åtgärda skadan helt och hållet. </p>

				<p>Kostnaden för ett akutbesök är individuellt baserat på hur stort problemet är och om det är ett eller flera problem. Efter att vi lokaliserat och diagnostiserat problemet informerar vi alltid om vad det kommer att kosta och hur man löser problemet på bästa sätt, innan själva behandlingen påbörjas.</p>

				<p>Om vi behöver en längre behandlingstid så får du med dig kostnadsförslag för behandlingen och en ny tid bokas. Försäkringskassan har ett högkostnadsskydd för att hjälpa dig med kostnaden. Din tandläkare kan informera dig om detta under besöket men du kan också <a href="http://www.forsakringskassan.se/privatpers/tandvard/vad_kostar_tandvarden/hogkostnadsskydd_for_tandvard/!ut/p/a1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOItjAx8nZwMHQ0sgg0sDDwtPSxd3SyN3EOdzIAKIoEKDHAARwNC-sP1o_AqMTbFr8DR3ABDgaOZoYGnoUeIYaCfU5CLN8wEPI4syI0wyPRMVwQARS5oag!!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank">läsa mer hos Försäkringskassan här</a>.</p>

			</div>

		
		</div>
	</div>
</section>