<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h1>Allmän Tandvård</h1>
				<h3>Efter den första undersökningen utarbetar vi en personlig plan för just dina behov. </h3>

<p>Allmän tandvård handlar om alla de vanliga ingrepp och undersökningar som du säkert associerar med ett tandläkarbesök. Som till exempel regelbundna undersökningar, förebyggande behandlingar, rotfyllningar, lagningar eller tandutdragningar. Alla människor har olika behov för att underhålla och behandla sina tänder. Har du aldrig haft hål eller problem med dina tänder så är det viktigaste för dig att förebygga så att skador inte uppkommer. En stor del av tandvården hos oss idag går åt till att rengöra, informera och instruera så att du kan fortsätta att hålla din mun frisk och ditt leende oförändrat. Vi märker att våra patienter får allt mindre nya skador på sina tänder när de följer de råd och behandlingar som vi rekommenderar. Att gå regelbundet på undersökningar och att besöka våra tandhygienister är en viktig investering för att få behålla sina egna tänder opåverkade så länge som möjligt.</p>

<p>Vid olycksfall, bettproblematik, eller om du har särskilda önskemål, gör vi en grundlig undersökning av dina tänder. Vi diskuterar tillsammans vilka förväntningar du kan ha på till exempel en rekonstruktion av ditt bett och vilka alternativa behandlingar man kan göra. Oftast finns det flera lösningar på problemen. Vi erbjuder lösningar med tandimplantat, broar, porslinskronor, skalfasader, blekning, tandreglering och jobbar med de senaste teknikerna både inom rotfyllnings- och fyllningsterapi eftersom vi alltid strävar efter att ligga i framkant på vårt område. Om du känner att något har gått sönder på någon tand, så vänta inte tills det börjar göra ont. Det innebär oftast att tandens skada ökat och det blir mindre för oss att jobba med och behandlingarna också oftast blir kostsammare.</p>

<p>PS: Du kan alltid komma upp på besök hos oss och titta närmare på våra kliniker och innan du bokar tid, om du är nervös inför mötet med tandläkaren. </p>



			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Free interpreter
					</h3>
					<div class="box"><img src="img/bild_1234.png" class="img-responsive"></div>
					<p class="caption">
						If you would like an interpreter to assist with your dental procedure we provide this service free of charge.
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Bra tandvård till rätt pris
					</h3>
					<div class="box"><a href="priser"><img src="img/pig.png" class="img-responsive"></a></div>
					<p class="caption">
						Vårt mål på Beiring Tandklinik är att erbjuda den bästa tandvården till rätt pris. <a href="priser">Läs mer om priser och finansiering.</a>
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Hitta oss på Facebook
					</h3>
					<div class="box"><a href="https://www.facebook.com/beiringtandklinik" target="_blank"><img src="img/grey_facebook.png" class="img-responsive"></a></div>
					<p class="caption">
						Här hittar du tips, råd och speciella erbjudanden - <a href="https://www.facebook.com/beiringtandklinik" target="_blank">klicka här.</a>
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



