<section class="mouth container-fluid">
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6 opaque">
			<h2>Tandvård och bra behandlingsmetoder</h2>
			<p>Lorem ipsum-text</p>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="tile">
				<h3>
					Allmän tandvård
				</h3>
				<div class="box">&nbsp;</div>
				<p class="caption">
					Vi gör vårt allra bästa för att du ska ...
				</p>
			</div>
		</div>			

		<div class="col-md-4">
			<div class="tile">
				<h3>
					Förebyggande tandvård
				</h3>
				<div class="box">&nbsp;</div>
				<p class="caption">
					Vi gör vårt allra bästa för att du ska ...
				</p>
			</div>
		</div>			

		<div class="col-md-4">
			<div class="tile">
				<h3>
					Tandblekning
				</h3>
				<div class="box">&nbsp;</div>
				<p class="caption">
					Vi gör vårt allra bästa för att du ska ...
				</p>
			</div>
		</div>			
	</div>
</section>

<section class="medium container-fluid">
	<div contact-horizontal></div>
</section>



