<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h1>Bettskena</h1>
				<h3>Tandgnissel stör sömnen och kan ge huvud- eller muskelvärk. En bettskena avlastar tänderna och undviker onödigt slitage om nätterna.</h3>

<p>I perioder av stress kan spänningar i nackens och axlarnas muskulatur sprida sig upp mot huvud- och käkmuskulaturen, vilket gör att vi "biter ihop" mer. Det kan resultera i att vi gnisslar eller pressar tänderna. Tänderna ska bara vara i naturlig kontakt med varandra när vi äter. All ytterligare påfrestning gör att våra tänder slits mer. Det påverkar både tandemalj och tidigare gjorda konstruktioner, som kan få en kortare livslängd. I många fall leder den överarbetade tugg- och bitmuskulaturen dessutom till återkommande huvudvärk.</p>

<p>Tanken med en bettskena är att du ska få den i tid, innan du hunnit gnissla ner tänderna för mycket. Det sker oftast inte mycket från år till år, men risken är att man efter 10 års gnisslande har tänder som har en annorlunda form och ser kortare ut. Att man sedan gnisslat bort emalj gör att den inre ytan av tanden, dentinet, ibland blottas. Påföljden är att nerven i tanden reagerar mot kallt och varmt.</p>

<p>Vid en undersökning kan vi ofta uppmärksamma om du har slitage eller nötningar på tandens emalj. Om du har det är vår rekommendation att skaffa en bettskena, vilket är en effektiv och enkel lösning. Bettskenan används framförallt nattetid och sitter vanligtvis på tänderna i överkäken. Det är en individuellt anpassad bettskena som avlastar underkäkens pressande och gnisslande mot överkäken. Den ”tvingar” helt enkelt underkäken och dess muskulatur att slappna av. Bettskenan skall alltid vara hård och täcka samtliga tänder, vilket inte alla bettskenor som man köper "ute på stan" gör.</p>

			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Free interpreter
					</h3>
					<div class="box"><img src="img/bild_1234.png" class="img-responsive"></div>
					<p class="caption">
						If you would like an interpreter to assist with your dental procedure we provide this service free of charge.
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Bra tandvård till rätt pris
					</h3>
					<div class="box"><a href="priser"><img src="img/pig.png" class="img-responsive"></a></div>
					<p class="caption">
						Vårt mål på Beiring Tandklinik är att erbjuda den bästa tandvården till rätt pris. <a href="priser">Läs mer om priser och finansiering.</a>
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Hitta oss på Facebook
					</h3>
					<div class="box"><a href="https://www.facebook.com/beiringtandklinik" target="_blank"><img src="img/grey_facebook.png" class="img-responsive"></a></div>
					<p class="caption">
						Här hittar du tips, råd och speciella erbjudanden - <a href="https://www.facebook.com/beiringtandklinik" target="_blank">klicka här.</a>
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



