<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Bettskena</h2>
				<p>En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor En text om bettskenor </p>
			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



