<div class="container">
	<div class="row">
		<div class="col-md-2">
			Beiring logo
		</div>

		<div class="col-md-2">
			<h4>On this website</h4>
			<ul>
				<li><a href="">Akut</a></li>
				<li><a href="">Behandlingar</a></li>
				<li><a href="">Tandreglering</a></li>
				<li><a href="">Vårdgivare</a></li>
				<li><a href="">Priser</a></li>
				<li><a href="">Om oss</a></li>
			</ul>
		</div>

		<div class="col-md-2">
			<h4>Behandlingar</h4>
			<ul>
				<li><a href="">Allmän tandvård</a></li>
				<li><a href="">Förebyggande tandvård</a></li>
				<li><a href="">Tandblekning</a></li>
				<li><a href="">Estetik</a></li>
				<li><a href="">Bettskene</a></li>
				<li><a href="">Visdomstandskirurgi</a></li>
			</ul>
		</div>

		<div class="col-md-2">
			<h4>Kontakt</h4>

			<address>
				Östra Hamngatan 52<br />
				411 09 Göteborg<br />
				<a href="mailto:info@beiringtandklinik.se">info@beiringtandklinik.se</a>
			</address>

			<address>
				Redbergsvägen 13A<br />
				416 65 Göteborg<br />
				<a href="mailto:olskroken@beiringtandklinik.se">olskroken@beiringtandklinik.se</a>
			</address>

		</div>

		<div class="col-md-2">
			<h4>Vi finns på Facebook</h4>			
		</div>

		<div class="col-md-2">
			
		</div>
	</div>
</div>