<div class="container">
	<div class="row">
		<div class="col-md-2">
			Beiring logo
		</div>

		<div class="col-md-2">
			<h4>On this website</h4>
			<ul>
				<li><a href="#akut">Akut</a></li>
				<li><a href="#behandlingar">Behandlingar</a></li>
				<li><a href="#tandreglering">Tandreglering</a></li>
				<li><a href="#vardgivare">Vårdgivare</a></li>
				<li><a href="#priser">Priser</a></li>
				<li><a href="#om">Om oss</a></li>
			</ul>
		</div>

		<div class="col-md-2">
			<h4>Behandlingar</h4>
			<ul>
				<li><a href="">Allmän tandvård</a></li>
				<li><a href="">Förebyggande tandvård</a></li>
				<li><a href="">Tandblekning</a></li>
				<li><a href="">Estetik</a></li>
				<li><a href="#behandlingar/bettskena">Bettskena</a></li>
				<li><a href="">Visdomstandskirurgi</a></li>
			</ul>
		</div>

		<div class="col-md-2">
			<h4>Kontakt</h4>

			<address>
				Östra Hamngatan 52<br />
				411 09 Göteborg<br />
				<a href="mailto:info@beiringtandklinik.se">info@beiringtandklinik.se</a>
			</address>

			<address>
				Redbergsvägen 13A<br />
				416 65 Göteborg<br />
				<a href="mailto:olskroken@beiringtandklinik.se">olskroken@beiringtandklinik.se</a>
			</address>

		</div>

		<div class="col-md-2">
			<h4>Vi finns på Facebook</h4>

			<div class="fb-like" data-href="https://www.facebook.com/beiringtandklinik" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
		</div>

		<div class="col-md-2">
			
		</div>
	</div>
</div>