<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Med Inman Aligner kan vi justera trångställningar, snedställningar och glesställningar som rör framtänderna.</h2>
				</br>

<h4>Vad är Inman Aligner?</h4>
<p>Inman Aligner är en avtagbar tandställning som du använder 16-18h/dag. Du väljer själv hur ofta du vill bära den.  Ju oftare desto snabbare resultat. Beroende på sin enkelhet har behandlingen blivit mycket populär. En normal behandling tar ca 12 veckor för ca 80 % av våra fall men kan ta upp till 6 månader vid mer komplicerade situationer. Ca 80% av alla felställningar som vi upplever som ej estetiskt tillfredsställande är oftast möjliga att lösa med Inman Aligner. Metoden är även ett mycket prisvärt alternativ i förhållande till andra estetiska behandlingar och behandlingstiden är relativt snabb.  Behandlingen följs också av alla våra tandläkare som är Inman-certifierade.</p>
 <img src="img/inman.png" class="img-responsive" />

</br>
 
<h4>Kan Inman Aligner korrigera alla trångställningar och bettfel?</h4>
<p>Inman Aligner korrigerar endast dina framtänder i över- och underkäken.  Våra Inman-certifierade tandläkare kan kontrollera om detta är rätt metod för dig eller om du behöver annan typ av behandling. </p>
</br>
 
<h4>Hur fungerar Inman Aligner?</h4>
<p>Inman Aligner består av två fjäderbelastade bågar, som justerar in tänderna till den förbestämda positionen. Därefter fixeras tänderna med en tunn ståltråd på baksidan av tandraden eller eventuellt att man nattetid bär en tunn fixeringsskena.</p>



			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
		<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Free interpreter
					</h3>
					<div class="box"><img src="img/bild_1234.png" class="img-responsive"></div>
					<p class="caption">
						If you would like an interpreter to assist with your dental procedure we provide this service free of charge.
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Bra tandvård till rätt pris
					</h3>
					<div class="box"><a href="priser"><img src="img/pig.png" class="img-responsive"></a></div>
					<p class="caption">
						Vårt mål på Beiring Tandklinik är att erbjuda den bästa tandvården till rätt pris. <a href="priser">Läs mer om priser och finansiering.</a>
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Hitta oss på Facebook
					</h3>
					<div class="box"><a href="https://www.facebook.com/beiringtandklinik" target="_blank"><img src="img/grey_facebook.png" class="img-responsive"></a></div>
					<p class="caption">
						Här hittar du tips, råd och speciella erbjudanden - <a href="https://www.facebook.com/beiringtandklinik" target="_blank">klicka här.</a>
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



