<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Invisalign Aligner är en mindre synlig metod, som kan användas för att jämna till små bettfel.</h2>
			</br>

<h4>Hur fungerar Invisalign Aligner?</h4>
<p>Invisalign Aligner består av ett antal nästan osynliga, borttagbara skenor som du varannan vecka byter till en ny uppsättning skenor. Varje skena skräddarsys individuellt och framställs för just dina tänder. Dina tänder flyttas bit för bit tills de nått den slutgiltiga position som din tandläkare har bestämt.</p>
 </br>
<h4>Kan Invisalign Aligner korrigera alla trångställningar och bettfel?</h4>
<p>Invisalign Aligner har hjälpt väldigt många människor till en jämnare tandrad och bättre estetik. Invisalign Aligner fungerar i de flesta fall. En erfaren tandreglerare med Invisalign-certifikat kan utvärdera om detta är en lämplig metod för dina behov.</p>
 </br>
<h4>Vad är fördelarna med Invisalign?</h4>
<p>Det är en bekväm tandregleringsmetod, tack vare att det inte finns några metallfästen eller trådar som kan irritera tunga eller läpp. Skenorna är genomskinliga och går att ta ur när du vill.</p>




			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Free interpreter
					</h3>
					<div class="box"><img src="img/bild_1234.png" class="img-responsive"></div>
					<p class="caption">
						If you would like an interpreter to assist with your dental procedure we provide this service free of charge.
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						<a href="https://www.facebook.com/beiringtandklinik" target="_blank">Hitta oss på Facebook</a>
					</h3>
					<div class="box"><a href="https://www.facebook.com/beiringtandklinik" target="_blank"><img src="img/grey_facebook.png" class="img-responsive"></a></div>
					<p class="caption">
						Här hittar du tips, råd och speciella erbjudanden - <a href="https://www.facebook.com/beiringtandklinik" target="_blank">klicka här.</a>
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



