<section class="splash container-fluid">
	<div class="row">
		<div class="col-md-5">
			<h3>Ring <button class="btn btn-round btn-white">031-138304</button> för tidsbokning, eller maila oss direkt.</h3>
			<div contact-form></div>
		</div>
		<div class="col-md-7 menu">
			<ul class="pull-right">
				<li><button class="btn btn-round-left btn-red"><i class="fa fa-bolt"></i> Akut</button></li>
				<li><button class="btn btn-round-left btn-yellow"><i class="fa fa-mobile"></i> Ring mig</button></li>
				<li><button class="btn btn-round-left btn-yellow"><i class="fa fa-pencil"></i> Lista mig</button></li>
			</ul>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="jumbotron text-center">
		<h1>Letar du tandläkare i Göteborg?</h1>
		<p>
			Beiring tandklinik vill skapa långsiktiga patientrelationer för att bibehålla och återskapa friska munnar. Allt du behver inom tandvård finns samlat hos oss: akuttandläkare, specialister och tendtekniker.
		</p>

		<p>
			<button class="btn btn-round btn-red"><i class="fa fa-bolt"></i> Akut</button>
			<button class="btn btn-round btn-yellow"><i class="fa fa-mobile"></i> Ring mig</button>
			<button class="btn btn-round btn-yellow"><i class="fa fa-pencil"></i> Lista mig</button>			
		</p>

	</div>
</section>


<section class="light container-fluid">
	<div class="row">
		<div class="col-md-6">
			<p>Östra Hamngatan 52</p>
		</div>			

		<div class="col-md-6">
			<p>Redbergsvägen 13 A</p>				
		</div>			
	</div>
</section>


<section class="medium container-fluid">
	<div class="row">
		<div class="col-md-4 text-center">
			<img class="img-responsive center-block" src="img/tooth.png" />

			<p>Göteborgs bästa tandläkare</p>

			<p>
				<button class="btn btn-round btn-yellow">Läs mer om oss</button>
			</p>
		</div>			

		<div class="col-md-4 text-center">
			<img class="img-responsive center-block" src="img/tooth.png" />

			<p>Vi har Göteborgs tandregleringsexperter</p>

			<p>
				<button class="btn btn-round btn-white">Läs mer om tandreglering</button>
			</p>
		</div>			

		<div class="col-md-4 text-center">
			<img class="img-responsive center-block" src="img/tooth.png" />

			<p>Bra priser och finansieringsmöjligheter</p>

			<p>
				<button class="btn btn-round btn-white">Läs mer om finansiering</button>
			</p>
		</div>			
	</div>
</section>
