<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h1>Tandimplantat</h1>
				<h3>Vi har rätt kunskap och verktyg för att återskapa ditt bett och leende.</h3>

<p>Tandimplantat är en väldokumenterad behandling för att ersätta förlorade tänder och fördelarna är många. Det är mycket hög lyckandefrekvens och man kan undvika att borra på de närliggande tänderna, vilket man annars behöver om man ska preparera tänderna inför en brokonstruktion. Ett implantat fungerar som en ny tandrot. Du kan inte få karies på implantat eller kronan, men för att förebygga skador på fästet till den nya ”roten”, är det är lika viktigt att hålla rent runt ett implantat med tandborste och tandtråd.</p>

<p>Vilka förutsättningar man har för att få implantat kontrolleras vid undersökningen, då vi kontrollerar hur benvolymen ser ut och kartlägger nervstrukturer inför behandlingen. Vi har en diskussion angående förväntningar och resultat och ibland kan det vara rekommenderat att göra en tandbro. Till exempel om det finns risk för nervskador eller om tänderna bredvid tandluckan har äldre, större fyllningar som är skadade sedan innan.</p>

<p>Vi arbetar i huvudsak med Straumann Implant System när vi utför kirurgin och protetiken. Straumann är ett ytterst väldokumenterat implantatsystem med många studier och mycket forskning bakom sina implantat. Vi har även protetiska verktyg för att kunna jobba med Astra, Nobel Biocare och 3i. Det gör att vi kan hjälpa dig som har en trasig implantatkonstruktion med något av dessa system, som du behöver få reparerad eller förnyad.</p>



			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Free interpreter
					</h3>
					<div class="box"><img src="img/bild_1234.png" class="img-responsive"></div>
					<p class="caption">
						If you would like an interpreter to assist with your dental procedure we provide this service free of charge.
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Bra tandvård till rätt pris
					</h3>
					<div class="box"><a href="priser"><img src="img/pig.png" class="img-responsive"></a></div>
					<p class="caption">
						Vårt mål på Beiring Tandklinik är att erbjuda den bästa tandvården till rätt pris. <a href="priser">Läs mer om priser och finansiering.</a>
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Hitta oss på Facebook
					</h3>
					<div class="box"><a href="https://www.facebook.com/beiringtandklinik" target="_blank"><img src="img/grey_facebook.png" class="img-responsive"></a></div>
					<p class="caption">
						Här hittar du tips, råd och speciella erbjudanden - <a href="https://www.facebook.com/beiringtandklinik" target="_blank">klicka här.</a>
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



