<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Tandblekning</h2>
				<h3>Vi börjar med en undersökning, för att sedan rekommendera den metod som passar just dina tänder.</h3>

<p>Vi utför tandblekning med det amerikanska Zoomsystemet, som har en dokumenterat god effekt. Innan blekning måste du ha en nyligen gjord undersökning av dina tänder, då det annars kan finnas risker med att genomgå behandlingen. Det är viktigt att se så att tidigare fyllningar är intakta, så att blekningsgelen inte skadar eller retar nerven inne i tanden. Om det finns fyllningar på framtänderna så kan dessa komma att behöva att bytas ut då kompositmaterialen inte bleks på samma sätt som tanden. Innan blekningen så är det också viktigt att man får polerat bort missfärgningar och plackbeläggninar på tänderna så att behandlingen får maximal effekt.</p>

<p>Det är väldigt individuellt hur vita tänderna blir eftersom tanden bleks i 1:1. Det innebär att om du har en färgförändring på tanden så kommer den blekas samtidigt som den övriga ytan, med resultatet att det fortfarande finns en nyansskillnad. De allra flesta tycker att behandlingen blev så bra, så man väljer att stanna vid en Zoom-blekning, men vissa patienter är intresserade av en helt jämn tandfärg. Då är alternativet istället att använda skalfasader. Detta är också en rekommenderad behandling om man har väldigt stora fyllningar på tänderna i fronten. </p>


			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Free interpreter
					</h3>
					<div class="box"><img src="img/bild_1234.png" class="img-responsive"></div>
					<p class="caption">
						If you would like an interpreter to assist with your dental procedure we provide this service free of charge.
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Bra tandvård till rätt pris
					</h3>
					<div class="box"><a href="priser"><img src="img/pig.png" class="img-responsive"></a></div>
					<p class="caption">
						Vårt mål på Beiring Tandklinik är att erbjuda den bästa tandvården till rätt pris. <a href="priser">Läs mer om priser och finansiering.</a>
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Hitta oss på Facebook
					</h3>
					<div class="box"><a href="https://www.facebook.com/beiringtandklinik" target="_blank"><img src="img/grey_facebook.png" class="img-responsive"></a></div>
					<p class="caption">
						Här hittar du tips, råd och speciella erbjudanden - <a href="https://www.facebook.com/beiringtandklinik" target="_blank">klicka här.</a>
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



