<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Tandvårdsrädsla</h2>
				<p>Vi har rätt kunskap och verktyg för att återskapa ditt bett och leende.</p>

				<p>Hos oss så lyssnar vi på dig som patient. Vi vill först höra vad du har för besvär så att vi kan anpassa vården därefter.  Du bestämmer när du är redo för att gå vidare till undersökning/behandling. Väldigt många är tandvårdsrädda och det måste få ta tid att förstå patienten och anpassa behandlingen därefter. Vi har stor erfarenhet av att behandla tandvårdsrädda patienter.</p>

				<p>Nästan alla känner viss rädsla för att gå till tandläkaren. Var tionde svensk låter bli helt att gå  pga tandvårdsrädsla. Hur just du känner får komma fram i samtalen med din tandläkare och därefter har man olika möjligheter att minska oron med samtal och information, tid och i vissa lägen även med lugnande läkemedel innan behandling.
				 </p>

			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



