<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Tandimplantat</h2>
				<p>Vi har rätt kunskap och verktyg för att återskapa ditt bett och leende.</p>

<p>Tandimplantat är en väldokumenterad behandling för att ersätta förlorade tänder och fördelarna är många. Det är mycket hög lyckandefrekvens och man kan undvika att borra på de närliggande tänderna, vilket man annars behöver om man ska preparera tänderna inför en brokonstruktion. Ett implantat fungerar som en ny tandrot. Du kan inte få karies på implantat eller kronan, men det är lika viktigt att hålla rent runt ett implantat med tandborste och tandtråd, så att det inte uppkommer skador på fästet till den nya "roten". </p>

<p>Vilka förutsättningar man har för att få implantat kontrolleras vid undersökningen, då vi kontrollerar hur benvolymen ser ut och kartlägger nervstrukturer inför behandlingen. Vi har en diskussion angående förväntningar och resultat och ibland kan det vara rekommenderat att göra en tandbro. Till exempel om det finns risk för nervskador eller om tänderna bredvid tandluckan har äldre, större fyllningar som är skadade sedan innan. </p>

<p>Vi arbetar i huvudsak med Straumann Implant System när vi utför kirurgin och protetiken. Straumann är ett ytterst väldokumenterat implantatsystem med många studier och mycket forskning bakom sina implantat. Mer om Straumann finns att läsa här >. Vi har även protetiska verktyg för att kunna jobba med Astra, Nobel Biocare och 3i. Det gör att vi kan hjälpa dig som har en trasig implantatkonstruktion med något av dessa system, som du behöver få reparerad eller förnyad. </p>



			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



