<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h1>Nu kan du remittera patienter för ortodonti till vår specialist Johan Wetterqvist, eller för implantatbehandlingar till Martin Beiring.</h1>

				<p>Om en remitterad patient efter sitt besök, mot förmodan frågar om hon/han får fortsätta hos oss, avvisar vi detta vänligt men bestämt. Vi hänvisar alltid tillbaka till remitterande tandläkare i första hand.</br></br>

				Mejla oss på info@beiringtandklinik.se med namn och kontaktuppgifter.</p>
			</div>
				
			<div class="col-md-6">
				<img src="img/martin_beiring.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>