<section class="light container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-6">
				<h2>Visdomtandskirurgi</h2>
				<p>Ibland måste visdomständerna opereras bort. Vi ser till att det blir så smidigt och smärtfritt som möjligt.</p>

<p>Att avlägsna visdomständer kan ibland vara nödvändigt. Anledningen är att de ofta inte får plats i tandraden och börjar växa i en sådan riktning/position så risk finns för skada på tanden framför, som man använder när man tuggar. Visdomstanden kan även med sin position vara svår att hålla ren och försvåra renhållning av närliggande tand och skapa tandköttsfickor där det lätt blir inflammerat och infekterat. Dessa bakterier sprids sedan med saliven så att munhålan som helhet får mycket fler bakterier i sig. Symptom kan bli att du får illaluktande andedräkt, svullnad i området med problem att gapa och tugga och ibland feber med kraftig värk.</p>

<p>Vi har medarbetare med stor erfarenhet på området. För oss är det viktigt att det både blir ett bra resultat och att du känner dig bekväm hela vägen. Innan en operation så görs en bedömning på hur din tand ligger i käkbenet. Det finns nerver och kärl som är viktiga att kartlägga och man behöver en bra uppfattning om hur rötterna ligger. Detta ger en indikation på hur svårt eller lätt det kommer att vara att ta bort tanden. Själva ingreppet brukar ta ca 45 min, men av denna tid går lång tid åt till att sterilinpacka rummet och duka fram kirurgiska instrument, allt för att motverka infektionsrisken under operationen. </p>

<p>Ingreppet är i stort sett smärtfritt men efter att bedövningen har släppt kan det följa några dagar med ömhet i området medan läkningen pågår. Mer information får du givetvis av din tandläkare inför och efter en operation.</p>



			</div>
			<div class="col-md-6">
				<img src="img/dentist.png" class="pull-right img-responsive" />
			</div>
		</div>
	</div>
</section>


<section class="white container-fluid">
	<div class="narrow">
		<div class="row">
			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="tile">
					<h3>
						Rubrik
					</h3>
					<div class="box">&nbsp;</div>
					<p class="caption">
						Vi gör vårt allra bästa för att du ska ...
					</p>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="medium container-fluid">
	<div class="narrow">
		<div contact-horizontal></div>
	</div>
</section>



