<form>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Namn" name="namn" />
	</div>

	<div class="form-group">
		<input type="tel" class="form-control" placeholder="Telefonnummer" name="telefon" />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Personnummer" name="pnr" />
	</div>

	<div class="form-group">
		<input type="email" class="form-control" placeholder="E-post" name="epost" />
	</div>


	<div class="form-group">
		<button type="submit" class="btn btn-red form-control">Ring mig</textarea>
	</div>
</form>