<h3 ng-show="success" class="text-center">
	Tack, vi ringer dig!
</h3>

<form class="row">
	<div class="col-md-4">
		<div class="form-group">
			<input type="text" class="form-control" ng-model="user.namn" placeholder="Namn" name="namn" />
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
			<input type="tel" class="form-control" ng-model="user.telefon" placeholder="Telefonnummer" name="telefon" />
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
			<button type="submit" ng-click="submit(user)" class="btn btn-yellow form-control">Ring mig</button>
		</div>
	<div>
</form>
